.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: containerFadeOut 1s ease 4s forwards;
  overflow: hidden;
  /* transition: background 0.5s ease; */
}

.loaded {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/images/loader2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loaderContainer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%);
  animation: pulseGlow 6s ease-in-out infinite;
}


.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: scale(0.05);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1.2s ease forwards;
  animation-delay: 0.4s;
}



/* Text Styles and Animation */
.textContainer {
  margin-top: 1rem;
  text-align: center;
  transform: translateY(20px) scale(0.8);
  opacity: 0;
  transform-origin: center center;
  animation: textAppear 1.2s cubic-bezier(0.19, 1, 0.22, 1) 0.4s forwards;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.5;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



@keyframes pulseGlow {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}



@keyframes textAppear {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


@keyframes containerFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .shapesContainer {
    width: 400px;
    height: 130px;
  }
  
  .text {
    font-size: 1.5rem;
  }
  
  .logoImage {
    width: 200px !important;
    height: auto;
    filter: brightness(0) invert(1); /* This will make the logo white */
  }
}

@media (max-width: 480px) {
  
  .shapesContainer {
    width: 280px;
    height: 90px;
  }
  
  .text {
    font-size: 1.2rem;
    letter-spacing: 0.2em;
  }
  
  .logoImage {
    width: 200px !important;
    height: auto;
    filter: brightness(0) invert(1); /* This will make the logo white */
  }
}

.logoContainer {
  margin-bottom: 20px;
}

.logoImage {
  width: 500px;
  height: auto;
  filter: brightness(0) invert(1); /* This will make the logo white */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
